

/* Header  */


body, html{ 

    background-image: linear-gradient( #fff6b7, #f6416c);
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

* {

    text-transform: lowercase;
    
}


.header { 

    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: stretch;
    margin: 15px 10px 10px 15px; 
    margin-left: 70px;
    
}


.headerIcons{

    margin-right: 110px;
    display: inline-flex;
    align-items: center;
}

.hI-spacing{ margin: 5px;}


/* Note Build */

/* Buttons */



/* Styling Buttons to Align with newInput */

#save { 

    display: none;
   
    
}

#delete{

    display: none;
   

}

/*  */

#leftColumn {

    background-color: #d291bc; 
    
}

#rightColumn{

    height: 500px;
    
}



.leftPlaceHolder { 
   
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    margin: 20px 15px 15px 15px;
    display: block;
}

.rightPlaceHolder { 

    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    
}

.noteInput, .checkBox { 
    
    display: none; 
    transition: .2s;
    margin: 5px;
    position: relative;
    top: 70px;
    right: 50px; 

}

.noteInput { 

width: 150px;
height: 20px;


}

.checkBox{

    width: 15px;
    height: 15px;
    top:72px;
}

.strike{

    text-decoration: line-through;

}

.headingInput{

    width: 210px;
    height: 30px; 
    border-style:solid; 
    border-style: solid;
    border-color: white;
    background-color: #d291bc;
    color: white; 
    margin:2px 5px 2px 5px; 
}

.headingInput::placeholder { 

    color: #ececec; 
     
}


#rightHeadingNote{

    margin-bottom: 30px;
    font-size: 30px;

}

/* Border and note arent aligned */

#leftHeadingNote{
    
    margin: 20px 20px 0px 20px; 
    width: 20px;
    height: 30px;
    transition: .2s;
    border-left: solid;
    border-left-color: yellow;
    position: fixed;
    font-size: 20px;
    display: none;
    
}


#leftHeadingNote > {

    font-size: 20px;

}


/*  */







