

/* Header  */


body, html{ 

    background-image: url(../images/background1.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

* {

    text-transform: lowercase;
    font-family: 'Montserrat', sans-serif;
}


.header { 

    display: flex; 
    flex-wrap: wrap;
    align-content: stretch;
    margin: 15px 20px 20px 30px; 
    width: 170;
    background-color: #FdFD96; 
    padding: 20px;
    justify-content: space-between;
    
}

header > strong { 

display: flex;
align-items: center;

}


.headerIcons{

    display: inline-flex;
    align-items: center;
    justify-content: flex-end; 
}

.headerIcons :hover{

    cursor: pointer;
    transition: .2s;
    color: gray; 
}

.hI-spacing{ 
    margin: 5px;
}


/* Note Build */

/* Buttons */

#edit:hover{ 

  cursor: pointer;

}

#trash:hover { 

 cursor: pointer;

} 

#check:hover{

 cursor: pointer;

}
    
    
.editStyle{

 display:none; 

}

  
/*  */



.noteInput { 

    display: none; 
    transition: .2s;
    margin: 5px;
    margin-bottom: 10px;
    position: relative;
    width: 150px;
    height: 20px;
    
}

.noteInput:hover { 

    border-color: #a7bed3; 
    transition: .8s;
}

.noteInput::placeholder { 

    color: gray; 
    border-color: gray;
    background-color: none;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}


.strike{

    text-decoration: line-through;
}


/* make ul appear inline */

ul, li {
    
    padding: 15px; 
    margin-left: 5px;
    margin-right: 5px;

}


/*  */

#leftColumn {

    background-color: #FDFD96; 
    width: 70px;
    height: 500px;
}

#rightColumn{

    width: 50px;
    height: 500px;
}

#leftColumn, #rightColumn { 

    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}



.leftPlaceHolder { 
   
    display: flex block;
    align-content: stretch;
    flex-wrap: wrap;
    margin: 20px 15px 15px 15px;

}


/*  */


.headingInput{

    width: 210px;
    height: 30px; 
    border-style:solid; 
    border-style: solid;
    border-color: gray; 
    background-color: #FDFD96; 
    color: black; 
    margin:2px 5px 2px 5px; 
}

.headingInput::placeholder { 

    color: gray; 
     
}

.headingInput:hover { 

    border-color: #a7bed3; 

}


#rightHeadingNote{

    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 30px;
    position: relative;
    height: 50px;

}

/* Border and note arent aligned */

#leftHeadingNote{
     
    width: 20px;
    height: 30px;
    margin-top: 30px;
    padding-left: 5px;
    transition: .2s;
    font-size: 20px;
}

.leftHeadingNoteClass { 

    border-left: solid #a7bed3;
    border-width: .5;

}

#leftHeadingNote > {

    font-size: 20px;

}


/*  */







